@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html, body {
    font-family: "Montserrat", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
  }

.formGroup {
    display: flex;
    flex-direction: column;
}

.form-label{
    font-weight: 600;
    color: #434343;
    font-size: 14px;
}

input {
    width: 95%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    font-size: 14px;
    border-radius: 4px;
}

.input-container {
    margin-bottom: 1rem;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.submitbutton {
    background-color: #FFB414;
    color: #000000;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    width: 77px;
    height: 34px;
}

.submitbutton:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.red {
    color: red;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-content{
    padding: 1rem;
}

.separator{
    margin: 1rem 0;
}

.closeBtn{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 1rem;
    display: flex;
    border: 1px solid lightgray;
    background: #fff;
    justify-content: center;
    align-items: center;
}
